{% extends 'layout.twig' %}

{% block title 'Homepage' %}

{% block content %}

    <div class="page-header">
        <h1>Blog - {{ block('title') }}</h1>
        <p class="lead">Welcome on my blog</p>
    </div>

    {% for post in posts %}
        {% include 'fragments/post_preview.twig' %}
        <hr>
    {% endfor %}

    {{ paginate(pagination) }}
{% endblock %}