{% extends 'layout.twig' %}

{% block title 'Author ' ~ user.username %}

{% block content %}

    <div class="page-header">
        <h1>Blog - {{ block('title') }}</h1>
        <p class="lead">All posts by {{ user.username }}</p>
    </div>

    {% for post in posts %}
        {% include 'fragments/post_preview.twig' %}
        <hr>
    {% endfor %}

    {{ paginate(pagination, '/author/' ~ user.id) }}

{% endblock %}